
h1{
	font-family: "Open Sans", sans-serif;
	padding: 1px;
	margin-bottom: -20px;
	color: black; 
}


body{
	margin: 0;
	min-height: 100vh;
	background-image: linear-gradient(to bottom,#ff0000, #ffffff);
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.centerBox{
	background: rgba(255,255,255,0.8);
}

