
.headerInfo{
	font-family: "Open Sans", sans-serif;
	padding: 1px;
	margin-top: -5px;
	color: black; 
}


body{
	margin: 0;
	min-height: 100vh;
	background-image: linear-gradient(to bottom,#ff0000, #ffffff);
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.centerBox{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(255, 255, 255, 0.85);
	padding: 2rem;
	border-radius: 12px;
	min-width: 590px;
	min-height: 350px;
	max-width: 673px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	background: rgba(255,255,255,0.8);
}


.headerBox{
	width: 100%;
	display: flex;
	justify-content: center;
}

.pokeBall{
	width: 30px;
	height: 30px;

}

.mainBox{
	width: 100%;
	display: flex;
}


.westBox{
	margin-right: 20px;
	margin-left: 20px;
}

.spriteContainer {
  	width: 150px;
  	height: 150px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	border-radius: 12px;
}

.spriteContainer img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}


.descriptionBox{
	background-color: #FFA3A3;
	width: 100%;
	margin-top: 2px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.pokeName{
	width: 50%;
	display: inline-block;
	padding: 6px 14px;

	background-color: black;
	color: white;

	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.eastBox{
	width: 100%;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	margin-top: -19px;
}


.tableLabel{
	margin-bottom: 10px;
}


.pokemonTable{
	text-align: center;
	color: black;
	width: 100%;
	height: 45%;
	font-weight: bold;
}

th{
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	border-radius: 6px;
	background-color: #FF080B;
	color:white;

}

.typeBox{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 83px;
	border-radius: 12px ;
	background-color: #FFD1A3;
	margin-top: 20px;
	min-width: 150px;
	min-height: 83px;
}

